spring:
  datasource:
    username: spring-project_owner
    url: jdbc:postgresql://ep-old-dew-a4ti3ae2-pooler.us-east-1.aws.neon.tech/spring-project?sslmode=require
    password: WVjs76KOLTNQ
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    consumer:
      group-id: event-sourcing-group
      auto-offset-reset: earliest
      enable-auto-commit: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    bootstrap-servers: 34.57.27.41:9092
